@{ 
    ViewData["Title"] = "Course Content"; 
}

<head>
    <link href="~/css/CourseContent/courseContentLarge.css" rel="stylesheet" />
</head>

<!--Header-->
<div class="courseContentHeader">
    <h3>Course: CSIS 312</h3>
    <p>Please review the content below to prepare for your test</p>
</div>

<!--Study Content-->
<div class="divStudyContent">
    <h6>Difficulty Rating - Proficent</h6>
    <h5>Videos</h5>
    <a href="https://www.youtube.com/watch?v=2eLe7uz-7CM" target="_blank">Professer Messer - Comptia A+</a>
    <a href="https://www.youtube.com/watch?v=2eLe7uz-7CM" target="_blank">Professer Messer - Comptia B+</a>
    <a href="https://www.youtube.com/watch?v=2eLe7uz-7CM" target="_blank">Professer Messer - Comptia C+</a>
    <h5>Study Links</h5>
    <a href="https://www.gbmb.org/tb-to-mb" target="_blank">Conversion Table</a>
    <a href="https://www.pdfdrive.com/comptia-advanced-security-practitioner-casp-cas-003-cert-guide-comptia-a-e147383629.html" target="_blank">Comptia study book</a>
    <a href="https://www.gbmb.org/tb-to-mb" target="_blank">Conversion Table</a>
    <a href="https://www.pdfdrive.com/comptia-advanced-security-practitioner-casp-cas-003-cert-guide-comptia-a-e147383629.html" target="_blank">Comptia study book</a>
    <a href="https://www.gbmb.org/tb-to-mb" target="_blank">Conversion Table</a>
    <a href="https://www.pdfdrive.com/comptia-advanced-security-practitioner-casp-cas-003-cert-guide-comptia-a-e147383629.html" target="_blank">Comptia study book</a>
    <h5>Notes</h5>
    <p>Study hard this test is pretty difficult. Your going to need to put in a lot of hours. Study hard this test is pretty difficult. Your going to need to put in a lot of hours.Study hard this test is pretty difficult. Your going to need to put in a lot of hours.</p>
    <button class="btn btn-outline-dark btnTakeTest">Proceed to testing</button>
</div>