@model List<CSIS483_ELearning_WebApplication.Models.getAssignedCoursesModel>
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

<head>
    <!--CSS files-->
    <link href="~/css/home.css/IndexLarge.css" rel="stylesheet" />
</head>

@if (Context.Session.GetString("username") != null) //If user is logged in
{
    //If user is logged in and has courses assigned
    if (Model.Count > 0)
    {
        <text>
            <div class="welcomeDiv">
                <h3>Welcome Back</h3>
                <p>Select a course below to begin</p>
            </div>
        </text>
        for (int i = 0; i < Model.Count; i++)
        {
            <text>
                <div class="homeDivs">
                    <h3>@Model[i].courseID</h3>
                    <p>Assigned By: @Model[i].assignedByID</p>
                </div>
            </text>
        }

    }
    //If user is logged in but has no reports
    else
    {
        <div class="divLoggedInButNoCoursesAssigned">
            <h5>No assigned courses</h5>
            <p>You have no new assigned courses</p>
        </div>
    }
}
else
{
    <div class="divNotLoggedIn">
        <h5>No courses available</h5>
        <p>Please login to see your assigned courses.</p>
        <button class="btn btn-dark divLogin">Login</button>
    </div>
}