@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!--CSS files-->
    <link href="~/css/home.css/IndexLarge.css" rel="stylesheet" />
</head>



<div class="welcomeDiv">
    <h3>Welcome Back</h3>
    <p>Select a course below to begin</p>
</div>

<div class="homeDivs">
    <h3>COMPTIA A+</h3>
    <p>Score 0%</p>
</div>

<div class="homeDivs">
    <h3>Software - C#</h3>
    <p>Score 80%</p>
</div>

<div class="homeDivs">
    <h3>Network Engineering Basics</h3>
    <p>Score 92%</p>
</div>
