@{
    ViewData["Title"] = "References";
}

<br />
<br />
<br />
<p>A special thanks to the following sites/people for allowing their resources to be used.</p>
<ul>
    <li><p>https://www.freelogodesign.org/ -eLearning Logo and pictures</p></li>
    <li><p>https://www.professormesser.com/ -Professor Messer's free study content</p></li>
</ul>