@{ 
    ViewData["Title"] = "Reports"; 
}

<head>
    <link href="~/css/Reports/ReportsLarge.css" rel="stylesheet" />
</head>

<div class="divTableWrapper">
    <h5>OnBoard eTraining Testing Results</h5>
    <table class="reportsTable">
        <tr>
            <th>Course Name</th>
            <th>Assigned by</th>
            <th>Date asssigned</th>
            <th>Date taken</th>
            <th>Grade</th>
        </tr>

        <tr>
            <td>Comptia A+</td>
            <td>Joe Adams</td>
            <td>09/18/2020</td>
            <td>09/19/2020</td>
            <td>98%</td>
        </tr>

        <tr>
            <td>Comptia Security +</td>
            <td>Jesse Smith</td>
            <td>09/22/2020</td>
            <td>09/25/2020</td>
            <td>92%</td>
        </tr>

        <tr>
            <td>Network Engineering Basics</td>
            <td>Joe Adams</td>
            <td>10/05/2020</td>
            <td>10/09/2020</td>
            <td>88%</td>
        </tr>

        <tr>
            <td>Cat 5 Wiring</td>
            <td>Joe Adams</td>
            <td>10/08/2020</td>
            <td>10/11/2020</td>
            <td>79%</td>
        </tr>

        <tr>
            <td>C# - Basics</td>
            <td>William Goodwin</td>
            <td>10/11/2020</td>
            <td>10/11/2020</td>
            <td>100%</td>
        </tr>

        <tr>
            <td>C# - Advanced</td>
            <td>William Goodwin</td>
            <td>10/12/2020</td>
            <td>10/12/2020</td>
            <td>100%</td>
        </tr>
    </table>
</div>