@{
    ViewData["Title"] = "Take Test";
}

<head>
    <link href="~/css/TakeTest/TakeTestLarge.css" rel="stylesheet" />
</head>

<!--Testing contents-->
<div class="divTestContents">
    <h3>CSIS 312</h3>
    <p>Answer each question to the best of your knowledge, then submit the test.</p>
    <p style="margin-top:50px;">1. How many MB are in a GB?</p>
    <select class="form-control">
        <option>100MB</option>
        <option>500MB</option>
        <option>300MB</option>
        <option>1000MB</option>
    </select>

    <p style="margin-top:50px;">2. How many MB are in a GB?</p>
    <select class="form-control">
        <option>100MB</option>
        <option>500MB</option>
        <option>300MB</option>
        <option>1000MB</option>
    </select>

    <p style="margin-top:50px;">3. How many MB are in a GB?</p>
    <select class="form-control">
        <option>100MB</option>
        <option>500MB</option>
        <option>300MB</option>
        <option>1000MB</option>
    </select>

    <button class="btn btn-outline-success">Submit</button>
</div>